@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap");
/* @font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/SourceCodePro-SemiBold.ttf");
} */

@font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/SourceCodePro-SemiBold.otf");
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600;700&display=swap");
/* @font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/SourceCodePro-Bold.ttf");
  font-weight: 700;
} */

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria-ExtraBold.ttf");
  font-weight: 800;
}

.blurbg {
  backdrop-filter: blur(3px);
}
